version: "3"
services:
  helpdesk-relational-app:
    image: raiqub.samples.helpdesk-relational
    build:
      context: .
      dockerfile: samples/Helpdesk.Relational/Dockerfile
    ports:
      - "8080:80"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
    depends_on:
      - helpdesk-relational-db
      - helpdesk-relational-pgadmin

  helpdesk-relational-db:
    image: clkao/postgres-plv8@sha256:24fb4815fe23ed83768609d97dad349023ac93bc0cdd8c888b1465cd57cacadf
    environment:
      POSTGRES_PASSWORD: Password12!

  helpdesk-relational-pgadmin:
    image: dpage/pgadmin4@sha256:8c128407f45f1c582eda69e71da1a393237388469052e3cc1e6ae4a475e12b70
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL:-pgadmin4@pgadmin.org}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD:-admin}
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    volumes:
      - pgadmin:/var/lib/pgadmin
    ports:
      - "${PGADMIN_PORT:-5050}:80"
    depends_on:
      - helpdesk-relational-db

volumes:
  pgadmin:
